<div class="topBar-container topBar-container--fixed">
  <nav class="top-bar ng-isolate-scope" ng-transclude="" top-bar="" style="height: 81px;">
    <ul class="title-area ng-scope">
      <li class="name"><%= link_to image_tag("developer.png"), "/" %></li>
    </ul>
    <section class="top-bar-section ng-scope">
      <ul class="menuItems">
        <li class="dropdown">
          <input type="radio" id="api-toggle" name="menu">
          <label for="api-toggle">API</label>
          <div class="dropdown-content">
            <%= link_to 'Basics', '/api' %>
            <%= link_to 'API V2', '/api/v2' %>
            <%= link_to 'API V3', 'https://github.com/bigcommerce/api/blob/master/docs/v3-catalog.md' %>
          </div>
        </li>
        <li>
          <li class="dropdown">
          <input type="radio" id="theme-toggle" name="menu">
          <label for="theme-toggle">THEMES</label>
          <div class="dropdown-content">
            <%= link_to 'Basics', '/themes' %>
            <%= link_to 'Stencil', 'http://stencil.bigcommerce.com/docs' %>
            <%= link_to 'Blueprint', '/themes/blueprint' %>
          </div>
        </li>
        </li>
        <li><%= link_to 'Changelog', '/changelog' %></li>
        <li><%= link_to 'Support', '/support' %></li>
      </ul>
    </section>
    <div class="top-bar-actions ng-scope">
      <div class="optional"><%= link_to 'My Apps', 'https://devtools.bigcommerce.com/my/apps' %></div>
      <div class="optional">
    <a href="https://login.bigcommerce.com/signup"><button class="button button--action button--small">Create Account</button></a>
  </div>
    </div>
  </nav>
</div>
